.btn-outline-primary:hover {
  color: #1b8002;
  background-color: white;
  border-color: #1b8002;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  color: #9c27b0;
  background-color: white;
  border-color: #9c27b0;
}

.btn-outline-primary {
  color: white;
  background-color: #1b8002;
  border-color: #1b8002;
}

/*.nav-fixed{*/
/*  height: 100vh;*/
/*  z-index: 1;*/
/*  overflow-x: hidden;*/
/*  position: fixed;*/
/*}*/
/*.text-input {*/
/*  background: white;*/
/*  border: none;*/
/*  border-bottom: 1px solid #888888;*/
/*  border-radius: 0;*/
/*  outline: none;*/
/*}*/

