<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>eCapture back</title>
    {% load staticfiles %}
    <link rel="stylesheet"
          href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/typicons.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/css/Projects-Horizontal.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    {% block styles %}
    {% endblock %}
    <style>
        .text-input {
            background: white !important;
            border: none !important;
            border-bottom: 1px solid #888888 !important;
            border-radius: 0 !important;
            outline: none !important;
        }
    </style>
</head>

<body style="background-color: #d7e0dd">
{% block content %}

{% endblock %}

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>